body {
    color:black;
    background-color:burlywood;
}

img{
    width: 150px;
    height: 150px;
    border: 5px solid grey
}

.center {
    text-align: center;

}

h1 {
    color:gray;
}

h3{
    color:grey
}

